div.message-container{
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}
textarea.message{
    min-width: 49%;
    resize: none;
    margin-right: 15px;
    flex: 1 1;
}
textarea.message-encrypted{
    min-width: 49%;
    resize: none;
    flex: 1 1;
}
p.atbash-top{
    border-top: 1px solid lightgrey; 
    padding-top: 10px; 
    margin-bottom: 0px; 
    font-family: monospace;
    text-align: center;
}
p.atbash-bottom{
    border-bottom: 1px solid lightgrey; 
    padding-bottom: 10px; 
    margin-bottom: 25px; 
    margin-top: 0px; 
    font-family: monospace;
    text-align: center;
    margin-bottom: 17px;
}
span.legend-container{
    display: flex; 
    justify-content: space-between;
}
span.message-legend{
    border-bottom: 2px solid #1e6bb8; 
    width: 5%; 
    margin-bottom: 5px;
}
span.message-encrypted-legend{
    border-bottom: 2px solid #ef4e7b; 
    width: 5%; 
    margin-bottom: 5px;
}