<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
<!--   <link rel="stylesheet" href="../assets/css/style.css"> -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<!--   <link rel="shortcut icon" type="image/x-icon" href="../assets/media/icon.png" /> -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/media/icon.png" />

  <title>miq.js</title>
</head>

<body>
  <header class="page-header" role="banner">
    <h1 class="project-name">miq.js</h1>
    <h2 class="project-tagline">JavaScript Cryptography Library</h2>
  </header>

  <main id="content" class="main-content" role="main">
    <div style="margin-bottom: 20px">
      <span style="margin-right: 20px">Atbash</span>
      <input id="atbash_message" />
      <button type="button" onclick="encryptMessage('atbash')">Encrypt</button>
    </div>

    <footer class="site-footer">
      <span class="site-footer-owner"><a href="https://github.com/MattG-ZA/miq.js">miq.js</a> is maintained by <a href="https://github.com/MattG-ZA">Matthew Gleed</a>.</span>
    </footer>
  </main>
</body>

<script src="{{ site.baseurl }}/assets/js/miq.js"></script>
<script src="{{ site.baseurl }}/assets/js/app.js"></script>
<!-- <script src="../assets/js/miq.js"></script>
<script src="../assets/js/app.js"></script> -->

</html>